* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #dfe220;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.42857143;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td,
tr {
  text-align: left;
  padding: 8px;
  border: 1px solid rgb(198, 138, 28);
}

td:nth-child(even) {
  border: 1px solid #dddddd;
}

header {
  display: flex;
  letter-spacing: 5px;

  height: 200px;
  font-size: 1rem;

  justify-content: space-evenly;
  background: url("https://images.unsplash.com/photo-1553027957-9e9cd2f19e0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
h1 {
  align-self: center;
}
.container {
  display: flex;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1532751203793-812308a10d8e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=646&q=80");
  padding: 2vh;
  margin: 5vh;
}

section.left {
  background-color: inherit;
  color: inherit;
  letter-spacing: 2px;
  font-size: medium;
  padding: 10px;
  margin: 10px;
  width: 25%;
}

section.right {
  background-color: rgb(33, 32, 32);
  color: inherit;
  letter-spacing: 2px;
  padding: 10px;
  margin: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  justify-content: center;
}
.container-search {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.button {
  display: flex;
  justify-content: space-between;
  border: 2px solid inherit;
  height: 80px;
  padding: 10px;
  font-size: 20px;
  margin-top: 25px;
}
.button button {
  padding: 2px 35px;
}
#search_btn {
  width: 100px;
  padding: 10px 15px;
  border: none;
  box-shadow: none;
}
#search-license {
  height: 2rem;
}
.discout-container {
  display: flex;

  height: 100px;
  background-color: rgb(47, 48, 39);
  align-items: center;
  font-size: larger;
}
#car-form {
  display: flex;
  flex-direction: column;
  gap: 2rem 2rem;
  align-items: first baseline;
}
#car-form input {
  background-color: rgb(226, 226, 222);
  display: block;
  box-shadow: none;
  border: none;
  height: 30px;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #car-table {
    max-width: 50vh;
    width: 40vh;
  }
  header {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .car-table {
    bottom: 0px;
    left: 2vh;
  }
  header {
    flex-direction: column;
  }

  .button {
    /* display: flex; */
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
